<div class="d-flex flex-wrap mb-4">
    <h1 class="flex-grow-1" i18n="@@empleado.edit.headline">Edit Empleado</h1>
    <div>
        <a routerLink="/empleados" class="btn btn-secondary" i18n="@@empleado.edit.back">Back to list</a>
    </div>
</div>
<form [formGroup]="editForm" (ngSubmit)="handleSubmit()">
    <input type="submit" i18n-value="@@empleado.edit.headline" value="Edit Empleado" class="btn btn-primary mt-4 mb-4" />
    <app-input-row [group]="editForm" field="id" rowType="number" i18n-label="@@empleado.id.label" label="Id" />
    <app-input-row [group]="editForm" field="nombre" i18n-label="@@empleado.nombre.label" label="Nombre" />
    <app-input-row [group]="editForm" field="apellido" i18n-label="@@empleado.apellido.label" label="Apellido" />
    <app-input-row [group]="editForm" field="direccion" i18n-label="@@empleado.direccion.label" label="Direccion" />
    <app-input-row [group]="editForm" field="dni" i18n-label="@@empleado.dni.label" label="Dni" />
    <app-input-row [group]="editForm" field="fechaNacimiento" datepicker="datepicker" i18n-label="@@empleado.fechaNacimiento.label" label="Fecha Nacimiento" />
    <app-input-row [group]="editForm" field="nacionalidad" i18n-label="@@empleado.nacionalidad.label" label="Nacionalidad" />
    <app-input-row [group]="editForm" field="celular" i18n-label="@@empleado.celular.label" label="Celular" />
    <app-input-row [group]="editForm" field="email" i18n-label="@@empleado.email.label" label="Email" />
    <app-input-row [group]="editForm" field="cargo" rowType="radio" [options]="{'ADMIN': 'ADMIN', 'VENTAS': 'VENTAS'}" i18n-label="@@empleado.cargo.label" label="Cargo" />
    <app-input-row [group]="editForm" field="sueldo" i18n-label="@@empleado.sueldo.label" label="Sueldo" />
    <app-input-row [group]="editForm" field="estado" rowType="checkbox" i18n-label="@@empleado.estado.label" label="Estado" />
    <input type="submit" i18n-value="@@empleado.edit.headline" value="Edit Empleado" class="btn btn-primary mt-4" />
</form>
