<div class="d-flex flex-wrap mb-4">
    <h1 class="flex-grow-1" i18n="@@servicio.add.headline">Add Servicio</h1>
    <div>
        <a routerLink="/servicios" class="btn btn-secondary" i18n="@@servicio.add.back">Back to list</a>
    </div>
</div>
<form [formGroup]="addForm" (ngSubmit)="handleSubmit()">
    <app-input-row [group]="addForm" field="nombre" i18n-label="@@servicio.nombre.label" label="Nombre" />
    <app-input-row [group]="addForm" field="descripcion" i18n-label="@@servicio.descripcion.label" label="Descripcion" />
    <app-input-row [group]="addForm" field="fecha" datepicker="datepicker" i18n-label="@@servicio.fecha.label" label="Fecha" />
    <app-input-row [group]="addForm" field="duracion" rowType="number" i18n-label="@@servicio.duracion.label" label="Duracion" />
    <app-input-row [group]="addForm" field="estado" rowType="checkbox" i18n-label="@@servicio.estado.label" label="Estado" />
    <app-input-row [group]="addForm" field="paqueteid" rowType="select" [options]="paqueteidValues" i18n-label="@@servicio.paqueteid.label" label="Paqueteid" />
    <input type="submit" i18n-value="@@servicio.add.headline" value="Add Servicio" class="btn btn-primary mt-4" />
</form>
