<div class="d-flex flex-wrap mb-4">
    <h1 class="flex-grow-1" i18n="@@cliente.edit.headline">Edit Cliente</h1>
    <div>
        <a routerLink="/clientes" class="btn btn-secondary" i18n="@@cliente.edit.back">Back to list</a>
    </div>
</div>
<form [formGroup]="editForm" (ngSubmit)="handleSubmit()">
    <app-input-row [group]="editForm" field="id" rowType="number" i18n-label="@@cliente.id.label" label="Id" />
    <app-input-row [group]="editForm" field="nombre" i18n-label="@@cliente.nombre.label" label="Nombre" />
    <app-input-row [group]="editForm" field="apellido" i18n-label="@@cliente.apellido.label" label="Apellido" />
    <app-input-row [group]="editForm" field="direccion" i18n-label="@@cliente.direccion.label" label="Direccion" />
    <app-input-row [group]="editForm" field="dni" i18n-label="@@cliente.dni.label" label="Dni" />
    <app-input-row [group]="editForm" field="fechaNacimiento" datepicker="datepicker" i18n-label="@@cliente.fechaNacimiento.label" label="Fecha Nacimiento" />
    <app-input-row [group]="editForm" field="nacionalidad" i18n-label="@@cliente.nacionalidad.label" label="Nacionalidad" />
    <app-input-row [group]="editForm" field="celular" i18n-label="@@cliente.celular.label" label="Celular" />
    <app-input-row [group]="editForm" field="email" i18n-label="@@cliente.email.label" label="Email" />
    <app-input-row [group]="editForm" field="estado" rowType="checkbox" i18n-label="@@cliente.estado.label" label="Estado" />
    <input type="submit" i18n-value="@@cliente.edit.headline" value="Edit Cliente" class="btn btn-primary mt-4" />
</form>
